
<div class="container">
<div class="formcontainer">
    <mat-card-header>
        <mat-card-title>
        <div class="upperSection">
            <span style="margin-top: 6px; color: #062c06;  font-size:1.9em;"
            class="padding-bottom-10 icon"><mat-icon
                style="padding-right: 5px;">equalizer</mat-icon>Add User
            </span>
            <span class="spacer"></span>
            <button mat-button class="icon2" (click)="goBack()"><mat-icon>close</mat-icon></button>
            </div></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        
        <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>Username</mat-label>
              <input matInput type="text" formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>Email</mat-label>
              <input matInput type="text" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>LastName</mat-label>
              <input matInput type="text" formControlName="lastName">
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>FirstName</mat-label>
              <input matInput type="text" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>Password</mat-label>
              <input matInput type="text" formControlName="password">
            </mat-form-field>
             <!-- Checkboxes for roles -->
             
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role">
                <mat-option value="ADMIN">Admin</mat-option>
                <mat-option value="AGENCY_EMPLOYEE">Agency Employee</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="myForm.get('role')?.value === 'AGENCY_EMPLOYEE'" appearance="outline" class="custom-form-field">
              <mat-label>Agency</mat-label>
              <mat-select formControlName="agency">
                <mat-option *ngFor="let agency of activeAgencies" [value]="agency.id">
                  {{agency.agencyCode}}
                </mat-option>
              </mat-select>
            </mat-form-field>


        <!-- Conditionally displayed dropdown for agency -->
        
            <button mat-button color="primary" class="save-button" type="submit" >Save</button>
          </form>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
    
</div>

</div>