<div class="container">
    <span
        style="color: black; margin-top:20px; font-size:2.2em; padding-bottom:15px; margin-bottom:25px;"
        class="icon dash"><mat-icon
            style="padding-right: 5px;">dashboard</mat-icon>Dashboard</span>
    <span style="color: black; font-size:1.9em;"
        class="padding-bottom-10 icon"><mat-icon
            style="padding-right: 5px;">equalizer</mat-icon>Metrics</span>
    <div class="dashboard-metrics">
        <div class="container1">
            <div class="container2">

                <div
                    style="display: flex; flex-direction:column; gap: 15px; width:225px">
                    <span style="font-size: 1.7em; "
                        class="icon"><mat-icon>business</mat-icon>Total
                        Agencies</span>

                    <span [appCountUp]="dashboardCounts.totalAgencies"
                        [duration]="1500"
                        style="font-size: 2.9em;">0</span>
                </div>

                <div class="container3">
                    <span style="font-size: 1.7em;">Inactive
                    </span>

                    <span [appCountUp]="dashboardCounts.inactive"
                        [duration]="0" style="font-size: 2.9em;">0</span>
                </div>

                <div class="container3">
                    <span style="font-size: 1.7em;">Active</span>
                    <span [appCountUp]="dashboardCounts.active"
                        [duration]="0" style="font-size: 2.9em;">0</span>
                </div>

            </div>
            <div class="container4" >

                <span style="font-size: 1.7em;"
                    class="icon"><mat-icon>assignment</mat-icon>Total
                    Affairs</span>
                <span [appCountUp]="dashboardCounts.totalAffairs"
                    [duration]="0" style="font-size: 2.9em;">0</span>

            </div>
        </div>
        <div class="container2">
            <div style="display: flex; flex-direction:column; gap: 15px; width:200px">
                <span style="font-size: 1.7em;"
                    class="icon"><mat-icon>group</mat-icon>Total Users</span>
                <span [appCountUp]="dashboardCounts.totalUsers" [duration]="0"
                    style="font-size: 2.9em;">0</span>
            </div>

                <div class="container3">
                    <span style="font-size: 1.6em;">Administrators</span>
                    <span [appCountUp]="dashboardCounts.adminUsers"
                        [duration]="0" style="font-size: 2.9em;">0</span>
                </div>

                <div class="container3">
                    <span style="font-size: 1.6em;">Agency employees</span>
                    <span [appCountUp]="dashboardCounts.employeeUsers"
                        [duration]="0" style="font-size: 2.9em;">0</span>
                </div>

                <div class="container3">
                    <span style="font-size: 1.6em;">Back office</span>
                    <span [appCountUp]="dashboardCounts.backOfficeEmployees"
                        [duration]="0" style="font-size: 2.9em;">0</span>
                </div>
            

        </div>

    </div>
</div>
