<div #chart class="container">


    <header class="page-header">
        <mat-icon>group</mat-icon>
        <h1>Users Management</h1>
    </header>

    <div class="sub-header">
        <mat-icon>list_alt</mat-icon>
        <h2>User Directory</h2>
    </div>

    <div class="upperSection">

        <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>Filter</mat-label>
            <input matInput type="text" (change)="filterUsers($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <span class="spacer"></span>

        <button class="icon2" mat-button (click)="scrollToForm()">
            <mat-icon>person_add</mat-icon>
            Create User
        </button>

    </div>
    <div class="table-container">
        <div *ngIf="errorMessage" class="error-message">
            {{errorMessage}}
          </div>
        <table matSort mat-table [dataSource]="dataSource" class="mat-mdc-table">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-mdc-header-cell mat-column-id"> ID </th>
                <td mat-cell *matCellDef="let user" class="mat-mdc-cell mat-column-id">{{user.id}}</td>
            </ng-container>
    
            <ng-container matColumnDef="firstName">

                <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-mdc-header-cell mat-column-firstName"> First Name </th>

                <td mat-cell *matCellDef="let user" class="mat-mdc-cell mat-column-firstName">

                    <ng-container *ngIf="!user.isEditing">

                        {{user.firstName}}

                    </ng-container>

                    <!--so here we do data binding whenever we input a nex firstNama it changes in the Ts-->
                    <mat-form-field *ngIf="user.isEditing" appearance="fill" class="transparent-form-field" >

                        <input matInput [(ngModel)]="user.firstName" name="firstName">
                        <mat-icon matSuffix class="faded-pen-icon">edit</mat-icon>

                    </mat-form-field>
                
                </td>

            </ng-container>
    
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-mdc-header-cell mat-column-lastName"> Last Name </th>
                <td mat-cell *matCellDef="let user" class="mat-mdc-cell mat-column-lastName">
                    <ng-container *ngIf="!user.isEditing">

                        {{user.lastName}}

                    </ng-container>
                    <mat-form-field *ngIf="user.isEditing" appearance="fill" class="transparent-form-field">
                        <input matInput [(ngModel)]="user.lastName" name="lastName">
                        <mat-icon matSuffix class="faded-pen-icon">edit</mat-icon>
                    </mat-form-field>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-mdc-header-cell mat-column-email"> Email </th>
                <td mat-cell *matCellDef="let user" class="mat-mdc-cell mat-column-email">
                    
                    <ng-container *ngIf="!user.isEditing">
                        {{user.email}}
                    </ng-container>

                    <!-- so here we used to just bind data from our data source  {{element.email}} -->
                    <!-- instead of doing this we will do a two way binding with ngModel and give the user the possibility to edit objects in our datasource -->
                    <mat-form-field *ngIf="user.isEditing" appearance="fill" class="transparent-form-field">
                        <input matInput [(ngModel)]="user.email" name="email">
                        <mat-icon matSuffix class="faded-pen-icon">edit</mat-icon>
                    </mat-form-field>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-mdc-header-cell mat-column-username"> Username </th>
                <td mat-cell *matCellDef="let user" class="mat-mdc-cell mat-column-username">

                    <ng-container *ngIf="!user.isEditing">
                        {{user.username}}
                    </ng-container>

                    <mat-form-field *ngIf="user.isEditing" appearance="fill" class="transparent-form-field">
                        <input matInput [(ngModel)]="user.username" name="username">
                        <mat-icon matSuffix class="faded-pen-icon">edit</mat-icon>
                    </mat-form-field>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-mdc-header-cell mat-column-roles"> Roles </th>
                <td mat-cell *matCellDef="let element" class="mat-mdc-cell mat-column-roles">{{element.roles.join(', ')}}</td>
            </ng-container>
    
            <!-- Actions column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="mat-mdc-header-cell mat-column-actions"> Actions </th>
                <td mat-cell *matCellDef="let user" class="mat-mdc-cell mat-column-actions action-cell" [class.expanded]="user.isEditing">
                    <div class="action-buttons-container">
                    <button mat-icon-button color="primary" (click)="editUser(user)" *ngIf="!user.isEditing" [disabled]="isSaving">
                        <mat-icon>edit</mat-icon>

                    </button>
                    <button mat-icon-button color="accent" (click)="saveUser(user)" *ngIf="user.isEditing" [disabled]="isSaving">
                        <mat-icon *ngIf="!isSaving" >save</mat-icon>
                        <mat-spinner *ngIf="isSaving" diameter="24"></mat-spinner>

                    </button>
                    <button mat-icon-button color="warn" (click)="cancelEdit(user)" *ngIf="user.isEditing">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteUser(user.id)" [disabled]="isSaving">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-mdc-header-row"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-mdc-row"></tr>
        </table>
    </div>

    <mat-paginator class="mat-mdc-paginator" [pageSizeOptions]="[5,10,15,30,50]"></mat-paginator>

    <router-outlet #userFormOutlet></router-outlet>

</div>
