
.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: solid 2.5px rgb(0, 0, 0);
  padding-bottom: 5px;
}

.page-header mat-icon {
  font-size: 35px  !important;
  vertical-align: middle;
  width: auto;
  height: auto;
  line-height: normal;
  margin-right: 10px;
  color: black;
}

.page-header h1 {
  font-size: 2.2em;
  margin: 0;
  padding: 0;
  color: black;
}

.sub-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sub-header mat-icon {
  font-size: 27px !important;
  vertical-align: middle;
  width: auto;
  height: auto;
  line-height: normal;
  margin-right: 10px;
  
  color: black;
}

.sub-header h2 {
  font-size: 1.8em;
  margin: 0;
  color: black;
}

.upperSection {
  max-width: 1500px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 5px;

}

.custom-form-field {
    width: 35vh; /* Ensure form fields take the full width */
    min-width: 200px;
    background-color: transparent !important;
    margin-right: 20px;
    margin: 3px 0;
  }

.icon2{
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color:  white;
  border-radius: 4px;
  border: solid 1.5px black;
  color: black;
  font-size: 16px;
  padding: 0px 12px; /* Add some padding for better appearance */
  margin-bottom: 3px;

  transition: color 0.5ms ease-in-out, transform 0.1ms ease-in-out, border-color 0.5ms ease-in-out;
}


.icon2:hover  {
  background-color: #d4ffd4;
  transform: scale(1.05); /* Slightly scale up on hover for effect */
}

.icon2 mat-icon {
  color: #000000;
  font-size: 22px !important;
  vertical-align: middle;
  width: auto;
  height: auto;
  line-height: normal;
  margin-right: 5px; /* Space between icon and text */
}


.icon2:hover mat-icon {
  color: #062c06 !important; /* Change icon color on hover */
}

.icon mat-icon {
    vertical-align: middle;
    width: auto;
    height: auto;
    line-height: normal;
    padding-bottom: 4px;
    padding-right: 2px;
}

.icon {
    display: block;
    width: 100%;
    height: 100%;
    text-align: left; /* Align text to the left */
    justify-content: flex-start; /* Align icons and text to the left */
  }


  .container1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;

  }

 button {
    height: 30px !important;
  }

 

  .spacer {
    flex: 1 1 auto;
  }


  .error-message {
    background-color: #ff4444;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  .error-message::before {
    content: "⚠️";
    margin-right: 10px;
    font-size: 1.2em;
  }

  .success-message {
    background-color: #44ff57;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .success-message::before {
    content: "⚠️";
    margin-right: 10px;
    font-size: 1.2em;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }






  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
}