<mat-toolbar color="primary" class="mat-elevation-z6">
    <div class="toolbar-content">
      
      <button mat-icon-button class="custom-icon-button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <nav class="nav-buttons">
        <button mat-button>Home</button>
        <button mat-button>Profile</button>
        <button mat-button [mat-menu-trigger-for]="usersmenu">
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
          Users
        </button>
        <mat-menu #usersmenu>
          <button mat-menu-item>Load agency employees</button>
          <button mat-menu-item>Load BA employees</button>
          <button mat-menu-item>Load Admins</button>
        </mat-menu>
        <button mat-stroked-button>Login</button>
      </nav>
    </div>
</mat-toolbar>
<mat-drawer-container class="drawer-container" >
  <mat-drawer class="drawer" #drawer mode="side" position="start" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button>
        <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item>
      
      <mat-list-item>
        <button mat-button >
        <mat-icon>group</mat-icon> Manage Users
      </button>
    </mat-list-item>
      
      <mat-list-item>
        <button mat-button>
        <mat-icon>assignment</mat-icon> Manage Affairs
      </button>
    </mat-list-item>

      
      <mat-list-item>
        <button mat-button>
        <mat-icon>business</mat-icon> Manage Agencies
      </button>
    </mat-list-item>

      
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div style="height: 90vh">
    <router-outlet></router-outlet>
  </div>
  </mat-drawer-content>

</mat-drawer-container>
  